.list-cat{
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #ac2d2d;
    border: 1px solid #000000;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;

}